
// .header-photo {
// 	background: url(#{$path-img}/photo.jpg) no-repeat;
// 	background-size: cover;
// 	background-position-x: -5px;
// 	border-radius: 50%;
// 	width: 300px;
// 	height: 300px;
// 	float: left;	
// }
.intro {
	//padding: $padding;
	//width: 49%;
	@extend %centered;
	display: block;
}

header {
	//height: 500px;
	width: 100%;
	margin-top: 60px;
	& h1 {
		font-size: 1em;
	} 
	& h2 {
		font-size: 1.2em;
	}
}

nav {
	@extend %centered;
	background-color: black;
	opacity: 0.7;
    position: absolute;
    left: 0;
    right: 0;
    top: -1000px;
    display: block;
    width: 100%;
    padding: 4px 0;
    height: 30px;
    z-index: 100;
	& a {
		color: #fff;
		padding: 2px 4px;
		text-decoration: none;
    	margin-right: 4px;
    	display: block;
    	float: left;
	}
}

nav a:hover,
nav a.active {
    // background: white;
    color: rebeccapurple;
}
.fixed {
    position: fixed;
    top: 0
} 
// ul {
// 	padding-left:0;
// }
// li {
// 	@extend %centered;
// 	@include button($button-width-medium);
// 	display: inline-block;
// 	margin-top: 7px;
// 	& a {
// 		line-height: 3;
// 	}
// 	&:hover {
// 		background-color: $vanilla;
// 		transition: background-color 300ms ease-out;
// 		-webkit-transition: background-color 300ms ease-out;
// 	}
// }

    
    
    
   
