
html {
	background-color: $white;
	padding: 0;
	margin: 0;
}
body {
	font-size: $default-font-size;
	font-family: $stack-helvetica;
	box-sizing: border-box;
	//padding: $padding;
	max-width: 2000px;
	@extend %dv-centered;
} 

nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    color: $black;
    display: block;
    width: 100%;
    padding: 4px 0;
    height: 30px;
    z-index: 100;
}

nav a {
    font-family: helvetica;
    color: white;
    padding: 2px 4px;
    display: block;
    float: left;
    text-decoration: none;
    margin-right: 4px;
}

nav a:hover,
nav a.active {
    background: white;
    color: green;
}

.fixed {
    position: fixed;
    top: 0
} 
a {
	color: $color-link-default;
	text-decoration: none;
	cursor: pointer;
}
	// &:visited {
	// 	color: $color-link-visited;
	// }
	// &:hover {
	// 	color: $color-link-hover; 
	// }
	// &:active {
	// 	color: $color-link-active;
	// }
  // }

ul li {
	list-style-type: none;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
